<!DOCTYPE html>
<html>
<head>
  <title>Knox.pro - API</title>
</head>
<body>
  <h1 style="font-family: Arial; text-align: center; width: 100%; margin-top: 50px;">Knox.pro - the API</h1>
</body>
</html>